### TV 가격 예측
* id 일련번호는 사용하지 않음, 판매가는 레이블(종속변수)
* 화면크기 ~ 부가기능이 입력데이터(독립변수)
    - 1. 화면크기 : inch 단위
    - 2. 형태 : 곡면형(1), 평면형(0)
    - 3. 해상도 : ppi(pixel per inch) 값
    - 4. 화면비율 - 16:9(1), 16:9 이외 (0)
    - 5. LCD, 6.LED, 7.OLED, 8.QLED 여부 : yes(1), no(0)
    - 9. 단자 : 단자의 개수
    - 10. 부가기능 : 부가기능 개수
* 화면크기가 60인치, 평면형, 해상도가 2160, 화면비율이 16:9, QLED, 단자가 3개, 부가기능 개수가 3개인 TV의 가격?

In [1]:
import pandas as pd

train = pd.read_excel('data/네이버TV가격_최종.xlsx', sheet_name='train')
print(train.shape)
train.head()

(7000, 12)

   ID     판매가  화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단자  부가기능
0   8  396240    55   0  2160     1    0    1     0     0   3     1
1   9  412870    55   0  2160     1    0    1     0     0   3     1
2  10  414590    55   0  2160     1    0    1     0     0   3     1
3  14  418000    55   0  2160     1    0    1     0     0   3     1
4  15  419000    55   0  2160     1    0    1     0     0   3     1

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      7000 non-null   int64
 1   판매가     7000 non-null   int64
 2   화면크기    7000 non-null   int64
 3   형태      7000 non-null   int64
 4   해상도     7000 non-null   int64
 5   화면비율    7000 non-null   int64
 6   LCD     7000 non-null   int64
 7   LED     7000 non-null   int64
 8   OLED    7000 non-null   int64
 9   QLED    7000 non-null   int64
 10  단자      7000 non-null   int64
 11  부가기능    7000 non-null   int64
dtypes: int64(12)
memory usage: 656.4 KB

In [4]:
print(train['판매가'].value_counts())

1455000    18
2910000    13
3000000    13
1940000    12
4000000    10
           ..
2335830     1
3219990     1
1721610     1
217280      1
983040      1
Name: 판매가, Length: 6231, dtype: int64

In [5]:
# 훈련데이터의 종속변수 추출하기 
X_train = train.loc[:, '화면크기':'부가기능']
print(X_train.shape)
X_train.head()

(7000, 10)

   화면크기  형태   해상도  화면비율  LCD  LED  OLED  QLED  단자  부가기능
0    55   0  2160     1    0    1     0     0   3     1
1    55   0  2160     1    0    1     0     0   3     1
2    55   0  2160     1    0    1     0     0   3     1
3    55   0  2160     1    0    1     0     0   3     1
4    55   0  2160     1    0    1     0     0   3     1

In [6]:
# 훈련데이터의 독립변수 추출하기
y_train = train['판매가']
print(y_train.shape)
y_train.head()

(7000,)

0    396240
1    412870
2    414590
3    418000
4    419000
Name: 판매가, dtype: int64