In [10]:
pip install pyarrow

Collecting pyarrow
  Using cached pyarrow-2.0.0-cp38-cp38-win_amd64.whl (10.7 MB)
Requirement already satisfied: numpy>=1.14 in c:\programdata\anaconda3\lib\site-packages (from pyarrow) (1.18.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-2.0.0
Note: you may need to restart the kernel to use updated packages.

### Pandas read_csv()

#### 1. 신용등급 csv 분리

In [1]:
import pandas as pd
import dask.dataframe as dd

folder_name = 'crisis_data'
filename = 'data/TC_EN_AREA_CRISIS_INFO.csv'

In [62]:
import pandas as pd

epl_dict = {
'man_city':['에데르손', '케빈데브라이너', '라힘스털링', '가브리엘제주스' ,'세르히오아게로'],
'man_uni':['데헤아', '해리맥과이어', '마르코스로호', '폴 포그바', '래시포드'],
'tottenham':['요리스', '손흥민', '케인', '베일', '라멜라']
}

epl_df = pd.DataFrame()

for key in epl_dict:
    epl_df[key] = epl_dict[key]

epl_df

  man_city man_uni tottenham
0     에데르손     데헤아       요리스
1  케빈데브라이너  해리맥과이어       손흥민
2    라힘스털링  마르코스로호        케인
3  가브리엘제주스   폴 포그바        베일
4  세르히오아게로    래시포드       라멜라

In [67]:
print(type(epl_df['man_city']))

<class 'pandas.core.series.Series'>

#### 2. csv 파일 read

In [2]:
#crisis_data_df = pd.read_csv(filename)
crisis_data_df = dd.read_csv(filename)

#### 3. 도시 이름 추출

In [3]:
city_names = crisis_data_df['CTPRVN_NM'].unique().compute()
print(city_names)

0     경기
1     강원
2     경남
3     경북
4     광주
5     대구
6     대전
7     부산
8     서울
9     세종
10    울산
11    인천
12    전남
13    전북
14    제주
15    충남
16    충북
Name: CTPRVN_NM, dtype: object

#### 4. 도시 별로 csv 파일 분리

In [5]:
for data in crisis_data_df['CTPRVN_NM'].unique():
    area_crisis_df = crisis_data_df.loc[crisis_data_df['CTPRVN_NM'] == data, ['CTPRVN_NM', 'SIGNGU_NM', 'CREDT_GRAD_NM']]
    area_crisis_df.to_csv(f'{folder_name}/{data}_crisis.csv', index=False)

In [31]:
# 데이터 확인 

for idx, city in enumerate(crisis_data_df['CTPRVN_NM'].unique()):
    file_name = f'crisis_data/{city_names[idx]}_crisis.csv'
    
    shape_data = pd.read_csv(file_name)
    
    print(f'{city_names[idx]} shape : {shape_data.shape}')

경기 shape : (7044468, 3)
강원 shape : (675449, 3)
경남 shape : (1580463, 3)
경북 shape : (1304730, 3)
광주 shape : (748043, 3)
대구 shape : (911747, 3)
대전 shape : (682867, 3)
부산 shape : (1553898, 3)
서울 shape : (6594490, 3)
세종 shape : (109995, 3)
울산 shape : (471094, 3)
인천 shape : (1303237, 3)
전남 shape : (1030029, 3)
전북 shape : (905114, 3)
제주 shape : (318116, 3)
충남 shape : (1101381, 3)
충북 shape : (917428, 3)

#### 5. 데이터 통합

In [4]:
total_df = None

for city in city_names:
    total_df = pd.concat([total_df, pd.read_csv(f'{folder_name}/{city}_crisis.csv')], ignore_index=True)

In [6]:
total_df.to_csv('crisis_data/total_crisis.csv', index=False)

In [7]:
total_df.shape

(27252549, 3)

In [19]:
import pandas as pd 

filename = 'data/TC_EN_AREA_CRISIS_INFO.csv'
chunksize = 10 ** 6
for cnt, chunk in enumerate(pd.read_csv(filename, chunksize=chunksize)):
    seoul_crisis_data = chunk.loc[chunk['CTPRVN_NM'] == '서울', ['CTPRVN_NM', 'CREDT_GRAD_NM']]

Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경기' '강원' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북'
 '제주' '충남' '충북']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '경기' '강원' '경남' '경북' '광주'
 '대구' '대전' '부산']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주'
 '충남' '충북' '강원']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '경기' '강원' '경남' '경북' '광주'
 '대구' '대전' '부산']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '경기' '강원' '경남' '경북' '광주'
 '대구' '대전' '부산']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주'
 '충남' '충북' '강원']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기'
 '경남' '경북' '광주']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기' '경남' '경북'
 '광주' '대구' '대전']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북'
 '강원' '경기' '경남']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주'
 '충남' '충북' '강원']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기' '경남' '경북' '광주'
 '대구' '대전' '부산']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기' '경남' '경북' '광주'
 '대구' '대전' '부산']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주'
 '충남' '충북' '강원']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['전남' '전북' '제주' '충남' '충북' '강원' '경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울'
 '세종' '울산' '인천']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주'
 '충남' '충북' '강원']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['대전' '부산' '대구' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기'
 '경남' '경북' '광주']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기' '경남' '경북' '광주'
 '대구' '대전' '부산']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기' '경남' '경북' '광주'
 '대구' '대전' '부산']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['대구' '광주' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원'
 '경기' '경남' '경북']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['충북' '충남' '강원' '경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천'
 '전남' '전북' '제주']

Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남'
 '충북' '강원' '경기']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기' '경남' '경북' '광주'
 '대구' '대전' '부산']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북' '강원' '경기'
 '경남' '경북' '광주']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주'
 '충남' '충북' '강원']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경남' '경기' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주'
 '충남' '충북' '강원']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북'
 '강원' '경기' '경남']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주' '충남' '충북'
 '강원' '경기' '경남']
Index(['STDR_YM', 'CTPRVN_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'INDUTY_LCLAS_CODE',
       'INDUTY_MLSFC_CODE', 'INDUTY_LCLAS_NM', 'INDUTY_MLSFC_NM',
       'PRCSS_ENTRPRS_SE_CODE', 'PRCSS_ENTRPRS_SE_NM', 'PDSMLPZ_SCTN_CODE',
       'PDSMLPZ_SCTN_NM', 'CREDT_GRAD_NM', 'TOT_ENTRPRS_CO', 'REGIST_DE',
       'OPERTOR_NM'],
      dtype='object')
['경기' '경남' '경북' '광주' '대구' '대전' '부산' '서울' '세종' '울산' '인천' '전남' '전북' '제주'
 '충남' '충북']

In [ ]:
# csv 파일로 저장하기
#data_df.to_csv(file_name, index=False)
data_df.to_csv(file_name, index=False)

In [ ]:
# 컬럼명 변경
table_df = table_df.rename(columns={'선거구2':'선거구', '당선횟수2':'당선횟수'})
table_df.columns

In [ ]:
#like search
member_df.loc[member_df['취미, 특기'].str.contains('수영'), ['이름','정당','나이','취미, 특기']]

In [ ]:
member_df['취미, 특기'].value_counts()